:root {
    /*colors*/
    --clr-dark: #2C313A;
    --clr-neutral: #F3F1EF;
    --clr-light: #FEFEFE;
    --clr-1: #7BA1DE;
    --clr-2: #D6DBF1;
    --clr-3: #F7AC7F;
    --clr-4: #F9E59C;
    /*size*/
    --size-xs: 0.25rem;
    --size-s: 0.75rem;
    --size-m: 1.25rem;
    --size-l: 2.5rem;
}

/* Reset */

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}

body, h1, h2, h3, h4, h5, p, figure, picture {
    margin: 0;
}

ul {
    list-style: none;
    padding-left: 0;
}

body {
    min-height: 100vh;
}

img, picture {
    max-width: 100%;
    display: block;
}

input, button, textarea, select {
    font: inherit;
    color: var(--clr-dark);
    min-width: 0;
}

button {cursor: pointer;}

/* Utilities */

.stack--xs > * + * { margin-block-start: var(--size-xs);}

.stack--s > * + * { margin-block-start: var(--size-s);}

.stack--m > * + * { margin-block-start: var(--size-m);}

/* Styles */

body {
    background-color: var(--clr-1);
    font-family: "Azeret Mono", monospace;
    font-size: 0.875rem;
    line-height: 1.4286; 
    color: var(--clr-dark);
    padding: var(--size-s);
}


h1 {
    font-size: 2rem;
    line-height: 125%;
    font-weight: 100;
}

h2 {
    font-size: 1.5rem;
    line-height: 100%;
    font-weight: 800;
}

h3 {
    font-size: 0.875rem;
    line-height: 1.4286;
    font-weight: 100;
    text-transform: uppercase;
}

.card {
    background-color: var(--clr-light);
    /* border-radius: var(--size-xs); */
    padding: var(--size-s);
}

.card--s {
    margin-bottom: var(--size-s);
    position: sticky;
    top: 0;
}

header {
    display: flex;
    justify-content: space-between;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.nav__btn {
    display: flex;
    align-items: center;
    min-height: var(--size-l);
    background-color: transparent;
    border: none;
}

.nav__btn:hover {background-color: var(--clr-neutral);}

.nav__list--hidden {display: none;}

.nav__logo {
    display: inline-block;
    font-size: 1.75rem;
    font-weight: 800;
    color: var(--clr-dark);
    text-decoration: none;
    text-align: center;
}

.nav__link {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: var(--size-l);
    color: var(--clr-dark);
    text-decoration:none;                                          
}

.nav__link--active {
    background-color: var(--clr-2);
}

.nav__link:hover > span {
    background-color: var(--clr-2);
    text-decoration: 1.5px solid underline;
}

.btn--primary {
    min-height: var(--size-l);
    padding: 0 var(--size-s);
    background-color: var(--clr-4);
    border: 1.5px solid var(--clr-4);
}

.btn--secondary {
    min-height: var(--size-l);
    padding: 0 var(--size-s);
    background-color: var(--clr-light);
    border: 1.5px solid var(--clr-4);
}

.btn--primary:hover, .btn--secondary:hover {
    border: 1.5px solid var(--clr-dark);
    text-decoration: 1.5px solid underline;
}

input, select {
    display: block;
    min-height: var(--size-l);
    background-color: var(--clr-neutral);
    border: 1.5px solid var(--clr-neutral);
}

input:hover, input:focus, select:hover, select:focus {
    outline: 1.5px solid var(--clr-dark);
}

label {
    display: block;
    margin-bottom: var(--size-xs);
    font-size: 0.625rem;
    line-height: 100%;
    text-transform: uppercase;
}

summary {
    cursor: pointer;
    font-size: 1.5rem;
    line-height: 2.5rem;
    font-weight: 800;
}

summary:hover {
    text-decoration: 2px solid underline;
    background-color: var(--clr-neutral);

}

summary::marker {
    content: "+ "
}

details[open] summary::marker {
    content: "- ";
}

/* Media */

@media (max-width: 500px) {

    input, select, .btn--primary, .btn--secondary {
        width:100%;
    }
}

@media (min-width: 700px) {

    body {
        padding: var(--size-m);
        display: flex;
        gap: var(--size-m);
        justify-content: center;
    } 

    header{flex-direction: column;}

    nav {align-items: center;}

   .nav__list--hidden {display: block;} 

    .nav__btn {display: none;}

    .card {padding: var(--size-m);}

    .card--s {
        min-width: 160px;
        align-self: flex-start;
    }

    .card--m {
        max-width: 750px;
        flex-grow: 2;
    }

    .stack--flex {
        display: flex;
        align-items: start;
        gap: var(--size-m);
    }

    .stack--flex > * + * { margin-block-start: 0;}
}

.starburst-m {
    width: 30px; /* adjust to control the size */
    aspect-ratio: 1;
    clip-path: polygon(100% 50%,77.72% 61.48%,85.36% 85.36%,61.48% 77.72%,50% 100%,38.52% 77.72%,14.64% 85.36%,22.28% 61.48%,0% 50%,22.28% 38.52%,14.64% 14.64%,38.52% 22.28%,50% 0%,61.48% 22.28%,85.36% 14.64%,77.72% 38.52%);
    background-color: var(--clr-dark);
  }