:root {
    /*colors*/
    --clr-dark: #2C313A;
    --clr-neutral: #F3F1EF;
    --clr-light: #FEFEFE;
    --clr-1: #D6DBF1;

    /*size*/
    --size-xs: 0.25rem;
    --size-s: 0.75rem;
    --size-m: 1.25rem;
    --size-l: 2.5rem;
}

/* Reset */

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}

body, h1, h2, h3, h4, h5, p, figure, picture {
    margin: 0;
}

ul {
    list-style: none;
    padding-left: 0;
}

body {
    min-height: 100vh;
}

img, picture {
    max-width: 100%;
    display: block;
}

input, button, textarea, select {
    font: inherit;
    color: var(--clr-dark);
    min-width: 0;
}

button {cursor: pointer;}

/* Utilities */

.stack--xs > * + * { margin-block-start: var(--size-xs);}

.stack--s > * + * { margin-block-start: var(--size-s);}

.stack--m > * + * { margin-block-start: var(--size-m);}

.stack--l > * + * { margin-block-start: var(--size-m);}

.m-auto {margin: var(--size-m) auto;}

.l-flex {
    display: flex;
    gap: var(--size-s);
    flex-wrap: wrap;
    align-items: end;
    justify-content: center;
}

/* Styles */

body {
    background-color: var(--clr-dark);
    font-family: "Azeret Mono", monospace;
    font-size: 0.875rem;
    line-height: 1.4286; 
    color: var(--clr-dark);
    padding: var(--size-s);
}


h1 {
    font-size: 2rem;
    line-height: 125%;
    font-weight: 100;
}

h2 {
    font-size: 1.5rem;
    line-height: 100%;
    font-weight: 800;
}

h3 {
    font-size: 0.875rem;
    line-height: 1.4286;
    font-weight: 100;
    text-transform: uppercase;
}

.card {
    background-color: var(--clr-light);
    /* border-radius: var(--size-xs); */
    padding: var(--size-s);
}

.card--s {
    /* margin-bottom: var(--size-s); */
    position: sticky;
    top: 0;
    border-bottom: 2px dashed var(--clr-dark);
}

header, .page__header {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.page__header {
    gap: var(--size-s);
    flex-wrap: wrap;
}

.nav__list--hidden {display: none;}

nav {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.nav__logo {
    display: inline-block;
    font-size: 1.75rem;
    font-weight: 800;
    color: var(--clr-dark);
    text-decoration: none;
    text-align: center;
}

.nav__btn {
    width: var(--size-l);
    height: var(--size-l);
    border: transparent;
    background-color: transparent;
}

.nav__btn:hover {
    background-color: var(--clr-neutral);
}

.nav__link {
    display: flex;
    align-items: center;
    justify-content: end;
    min-height: var(--size-l);
    color: var(--clr-dark);
    text-decoration:none;                                          
}

.nav__link--active {
    background-color: var(--clr-1);
}

.nav__link:hover > span {
    background-color: var(--clr-1);
    text-decoration: 1.5px solid underline;
}


.btn--primary {
    min-height: var(--size-l);
    padding: 0 var(--size-s);
    color: var(--clr-light);
    background-color: var(--clr-dark);
    border: 2px solid var(--clr-dark);
}

.btn--secondary {
    min-height: var(--size-l);
    padding: 0 var(--size-s);
    min-height: var(--size-l);
    background-color: transparent;
    border: 2px solid var(--clr-dark);
}

.btn--primary:hover, .btn--secondary:hover {
    text-decoration: 1.5px solid underline;
    border: 2px solid var(--clr-dark);
}

input, select {
    display: block;
    min-height: var(--size-l);
    background-color: var(--clr-neutral);
    border: 2px solid var(--clr-neutral);
}

input:hover, input:focus, select:hover, select:focus {
    outline: 2px solid var(--clr-dark);
}

label {
    display: block;
    margin-bottom: var(--size-xs);
    font-size: 0.625rem;
    line-height: 100%;
    text-transform: uppercase;
}

summary {
    cursor: pointer;
    font-size: 1.5rem;
    line-height: 2.5rem;
    font-weight: 800;
}

summary:hover {
    text-decoration: 2px solid underline;
    background-color: var(--clr-neutral);

}

summary::marker {
    content: "+ "
}

details[open] summary::marker {
    content: "- ";
}

/* Media */

@media (min-width: 700px) {

    body {
        padding: var(--size-m);
        display: flex;
        /* gap: var(--size-m); */
        justify-content: center;
        align-items: start;
    } 

    header{
        flex-direction: column;
        align-items: center;}

    nav {align-items: center;}

   .nav__list--hidden {display: block;} 

    .nav__btn {display: none;}

    .nav__link {
        justify-content: center;
    }

    .card {padding: var(--size-m);}

    .card--s {
        min-width: 160px;
        align-self: flex-start;
        border-right: 2px dashed var(--clr-dark);
        border-bottom: 0px dashed var(--clr-dark);
    }

    .card--m {
        max-width: 750px;
        flex-grow: 2;
        height: fit-content;
    }

    .stack--flex {
        display: flex;
        align-items: start;
        gap: var(--size-m);
    }

    .stack--flex > * + * { margin-block-start: 0;}
}

