:root {
    /*colors*/
    --white: #FAFAF9;
    --gray-100: #F3F1EF;
    --gray-400: #4B4B4B;
    --black: #3E3E3E;

    --blue-100: #DBDBF9;
    --blue-200: #AFBEFD;
    --blue-300: #75A8FF;
    --blue-400: #5172EC;

    --orange-100: #FFA680;
    --orange-200: #FFC466;
    --orange-300: #F88644;
    --orange-400: #F5683D;

    --text-dark: var(--black);
    --text-light: var(--white);

    --bg-light: var(--white);
    --bg-light-gray: var(--gray-100);
    --bg-dark-gray: var(--gray-400);
    --bg-dark: var(--black);

    /*sizes*/
    --size-xxs: 0.25rem;
    --size-xs: 0.5rem;
    --size-s: 1rem;
    --size-m: 1.25rem;
    --size-l: 1.5rem;
}


/*
* === RESET ===
*/

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}

body, h1, h2, h3, h4, h5, p, figure, picture {
    margin: 0;
}

ul {
    list-style: none;
    padding-left: 0;
}

img, picture {
    max-width: 100%;
    min-width: 0;
}

input, button, textarea, select {
    font: inherit;
}

button, summary {cursor: pointer;}


/*
* === TYPOGRAPHY ===
*/

.heading-1 {
    font-size: 2rem;
    line-height: 110%;
    font-style: bold;
}

.heading-2 {
    font-size: 1.75rem;
    line-height: 110%;
    font-style: italic;
    font-weight: 300;
}

.heading-3 {
    font-size: 0.85rem;
    width: fit-content;
    line-height: 100%;
    text-transform: uppercase;
    font-weight: 400;
    background-color: var(--blue-100);
    padding-top: 4px;
}

.p--big {
    font-size: 1.6rem;
    line-height: 110%;
}


/*
* === BASIC ===
*/

body {
    color: var(--text-dark);
    background-color: var(--bg-light);
    min-height: 100vh;
    font-family: "Newsreader", serif;
    line-height: 140%;
    
}

main {
    padding: 1rem;
    max-width: 60rem;
    margin: 0 auto;
}

/*
* === LAYOUTS ===
*/

.stack-xs > * + * { margin-block-start: var(--size-xs);}
.stack-s > * + * { margin-block-start: var(--size-s);}
.stack-m > * + * { margin-block-start: var(--size-m);}

.full-width {width: 100%;} /*for calc, to improve*/

.center-h {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.flex {display: flex;}
.flex-xs {display: flex; gap: var(--size-xs)}
.flex-s {display: flex; gap: var(--size-s)}
.flex-m {display: flex; gap:var(--size-m)}

.flex-wrap {flex-wrap: wrap;}

.grid {display: grid;}

.justify-center {justify-content: center;}
.justify-end {justify-content: end;}

.items-end {align-items: end;}
.items-start{align-items: start;}
.items-center{align-items: center;}

@media (min-width: 700px) {

    .desk_flex {display: flex;}
    .desk_flex-xs {display: flex; gap: var(--size-xs)}
    .desk_flex-s {display: flex; gap: var(--size-s)}
    .desk_flex-m {display: flex; gap: var(--size-m)}

    .desk_flex > * + * {
        margin-block-start: 0;
    } 
    .desk_flex-s > * + * {
        margin-block-start: 0;
    } 
    .desk_flex-m > * + * {
        margin-block-start: 0;
    } 

    .desk_grid {display: grid;}
    .desk_grid > * + * {
        margin-block-start: 0;
    } 

    .desk_flex-reverse {flex-direction: row-reverse;}

    .desk_justify-start {justify-content: start;}
    .desk_justify-end {justify-content: end;}
    .desk_justify-center {justify-content: center;}
    .desk_justify-sb {justify-content: space-between;}

    .desk_items-center {align-items: center;}
}


/* — header and navi — */

header {
    padding: 1rem;
    position: sticky;
    max-width: 60rem;
    margin: 0 auto;
    z-index: 1;
    top: 0;
    background-color: var(--bg-light);
}

/*arrow becomes very small without? */
/* .menu-container > img {
    min-width: 0; 
} */

.menu--button {
    width: fit-content;
}

.menu--button:hover {
    background-color: var(--bg-light-gray);
}

details:hover .menu--button, details[open] .menu--button {
    border-bottom: 1px solid transparent;
}


nav {
    padding: 1rem;
    border: 1px solid var(--black);
    background-color: var(--bg-light);
    position: absolute;
    min-width: 200px;  
    width: fit-content;
}

.homepage--container {
    background-image: url("../graphics/star--red.svg");
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: top 20px right 50px;
    padding-top: 0;
}



/*
* === COMPONENTS ==
*/

/* — buttons & links — */

button, a, summary {
    display: flex;
    align-items: center;
    gap: 4px;
    min-height: 2rem;
    min-width: 2rem;
    border: 1px solid transparent;
    transition: 200ms;
}

button, a {
    width: fit-content; 
}


button, .a--inverted {
    padding: 0 8px;
    color: var(--text-light);
    background-color: var(--bg-dark);
}

a {
    text-decoration: none;
    color: var(--text-dark);
}

/* — accordion — */

summary {
    list-style: none;
}

summary::-webkit-details-marker {
  display: none;
}

details[open] summary {
  border-bottom: 1px solid var(--bg-dark);
}

details[open] summary svg {
  transform: rotate(90deg);
}

/* —--states-— */

button:hover, .a--inverted:hover {
    background-color: var(--bg-dark-gray);
}


a:hover, summary:hover {
   
    background-color: var(--bg-light-gray);
    border-bottom: 1px solid var(--bg-dark);
}

.a--active {
    border-bottom: 1px solid var(--bg-dark);
}




/*
* === FORMS ==
*/

label {
    display: block;
    margin-bottom: var(--size-xxs);
    line-height: 100%;
    text-transform: lowercase;
    font-weight: 500;   
}

input, select {
    display: block;
    min-height: 2rem;
    min-width: 2rem;
    background-color: var(--bg-light);
    border: 1px solid var(--bg-dark);
}

input:hover, input:focus, select:hover, select:focus {
    outline: 2px solid var(--clr-dark);
}

/*
* === homepage ==
*/

.cont-quickLinks {
    padding: 1rem;
    border: var(--blue-300) 2px solid;
    position: relative;
    min-width: 200px;

}

.cont-title {
    font-size: 0.5rem;
    text-transform: uppercase;
    color: var(--blue-300);
    padding: 4px 8px;
    background-color: var(--bg-light);
    width: fit-content;
    position: absolute;
    top: -1rem;
    left: 4px;

}

.cont-quickLinks--projects {
   border: var(--orange-300) 2px solid;
   flex-grow: 1;
   
}

.cont-title--projects {
    color: var(--orange-300);
}



/*
* === PROMPTS ==
*/

.prompts--container[open] > summary {
    margin-bottom: 2rem;
}

.prompts--container[open] {
    background-image: url("../graphics/star--lila.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


/* .prompts--content, .prompts--content > button {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
} */

/*
* === ARCHIVE ==
*/

.month-details, .month-title {
    margin-bottom: 2rem;
}


@media (min-width: 700px) {

    .category-cont {
        grid-template-columns: 2fr 1fr 1fr ;
    }

}

/*
* === CALCULATOR ==
*/

.calculator-details {
    margin-bottom: 2rem;
}



/* .ch1, .ch2, .ch3, .ch4, .ch5 {width: fit-content;} */
.map-container {
    width: fit-content;
}

.map-container::after{
    position: absolute; 
    width: 0;
    overflow: hidden;
    content: 
        url("../graphics/map/ch1.png")
        url("../graphics/map/ch2.png")
        url("../graphics/map/ch3.png")
        url("../graphics/map/ch4.png")
        url("../graphics/map/ch5.png");
}

.map {
    width: 400px;
    height: 400px;
    background-image: url("../graphics/map/base.png");
    background-size: contain;
    background-repeat: no-repeat;

}

@media (min-width: 700px) {
    .map {
        position: relative;
        top: -250px;
        left: 250px;
        z-index: -1;
    }

    .map-container {
        margin: 0 auto;
    }
}

.ch1:hover ~ .map {
    background-image: url("../graphics/map/ch1.png");
}

.ch2:hover ~ .map {
    background-image: url("../graphics/map/ch2.png");
}

.ch3:hover ~ .map {
    background-image: url("../graphics/map/ch3.png");
}

.ch4:hover ~ .map {
    background-image: url("../graphics/map/ch4.png");
}

.ch5:hover ~ .map {
    background-image: url("../graphics/map/ch5.png");
}