:root {
    /*colors*/
    --clr-dark: 29, 1%, 20%;
    --clr-neutral: 30, 10%, 96%;
    --clr-light: 36, 100%, 100%;
    --clr-1: 218, 100%, 73%;
    --clr-1--light: 229, 95%, 84%;
    --clr-2: 18, 100%, 73%;

    /*size*/
    --size-xs: 0.25rem;
    --size-s: 0.75rem;
    --size-m: 1.25rem;
    --size-l: 2.5rem;
    --size-xl: 4rem;
}

/*
* === RESET ===
*/

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}

body, h1, h2, h3, h4, h5, p, figure, picture {
    margin: 0;
}

ul {
    list-style: none;
    padding-left: 0;
}

body {
    min-height: 100vh;
}

img, picture {
    max-width: 100%;
    display: block;
}

input, button, textarea, select {
    font: inherit;
    color: hsl(var(--clr-dark));
    /* width: 0; not working with flex in calc */
}

button {cursor: pointer;}

/*
* === UTILITIES ===
*/

.m--center {margin: 0px auto;}
.w--full {width: 100%;}
.text--center {text-align: center;}
.display--inline {display: inline;}

.stack--xs > * + * { margin-block-start: var(--size-xs);}
.stack--s > * + * { margin-block-start: var(--size-s);}
.stack--m > * + * { margin-block-start: var(--size-m);}
.stack--l > * + * { margin-block-start: var(--size-l);}
.stack--xl > * + * { margin-block-start: var(--size-xl);}

.flex {display: flex;}
.flex--col {display: flex; flex-direction: column;}
.flex--wrap {flex-wrap: wrap;}

.justify--start {justify-content: start;}
.justify--center {justify-content: center;}
.justify--end {justify-content: end;}
.justify--space-between {justify-content: space-between;}

.items--start{align-items: start;}
.items--center{align-items: center;}
.items--end{align-items: end;}

.gap--s {gap: var(--size-s);}
.gap--m {gap: var(--size-m);}

.flex__child--full {flex: 1 1 auto;}


/*
* === TYPOGRAPHY ===
*/

.title--l {
    font-size: 2rem;
    line-height: 125%;
    font-weight: 100;
}

.title--m {
    font-size: 1.5rem;
    line-hight: 1;
    font-weight: 400;
    font-family: "Luckiest Guy", cursive;
    font-style: normal;
}

.title--s {
    font-size: 0.875rem;
    line-height: 1.4286;
    font-weight: 200;
    color: hsl(var(--clr-dark));
    text-transform: uppercase;
}

/*
* === COMPONENTS ==
*/

/* — containers — */

body {
    background-color: hsl(var(--clr-neutral), 0.4);
    background-image: linear-gradient(90deg, transparent 12px, #ffa077 12px, #ffa077 13.5px, transparent 13.5px),linear-gradient(#e6f4ff .1em, transparent .1em);
    background-size: 100% 1.5em;
    font-family: "Azeret Mono", monospace;
    font-size: 1rem;
    line-height: 1.5; 
    color: hsl(var(--clr-dark));
    padding: 0 var(--size-m);
}

.card {
    padding: var(--size-s);
}

.card--s {
  position: sticky;
  top: 0;
  background-color: hsl(var(--clr-light), 0.6);
}

.container {
    background-color: hsl(var(--clr-neutral));
}

.container--l {
    padding: var(--size-l);
}

.container--m {
    padding: var(--size-m);
}

.bottom-extra {margin-bottom: var(--size-l);}

.divider {
    border-bottom: hsl(var(--clr-dark), 0.4) 1px solid;
}

/* — navi — */

.nav__logo {
    display: flex;
    align-items: center;
    display: inline-block;
    color: hsl(var(--clr-dark));
    text-decoration: none;
    min-width: var(--size-l);
    min-height: var(--size-l);
}

.nav__link {
    display: flex;
    align-items: center;
    min-height: var(--size-l);
    color: hsl(var(--clr-dark));
    text-decoration: none;                                          
}

@media (min-width: 700px) {.nav__link {justify-content: center;}}

.nav__link--active {
    text-decoration: overline solid hsl(var(--clr-1));
    text-decoration-style: wavy;
    text-decoration-thickness: 1.5px;
}

.nav__link:hover, .nav__logo:hover, .nav__link--active:hover {
    text-decoration: overline solid hsl(var(--clr-2));
    text-decoration-style: wavy;
    text-decoration-thickness: 1.5px;
}


/* — buttons — */

.btn--primary {
    display: block;
    padding: 0 var(--size-s);
    min-height: var(--size-l);
    color: hsl(var(--clr-dark));
    border: 2px solid transparent;
    border-radius: var(--size-m);
    background-color: hsl(var(--clr-1--light));
}

.btn--primary:hover {
    border: 2px solid hsl(var(--clr-dark));
}


/* — inputs — */

label {
    display: block;
    margin-bottom: var(--size-xs);
    font-size: 0.625rem;
    line-height: 100%;
    text-transform: uppercase;
}

input, select {
    display: block;
    min-height: var(--size-l);
    background-color: hsl(var(--clr-neutral));
    border: 2px solid hsl(var(--clr-neutral));
}

input:hover, input:focus, select:hover, select:focus {
    outline: 2px solid hsl(var(--clr-dark));
}

/* — accordion — */

summary {
    cursor: pointer;
    font-size: 1.5rem;
    line-height: 2.5rem;
    font-weight: 800;
}

summary:hover {
    text-decoration: 2px solid underline;
    background-color: hsl(var(--clr-neutral));

}

summary::marker {
    content: "+ "
}

details div {
    padding-left: var(--size-s);
}

details[open] summary::marker {
    content: "- ";
}


.dice {
    min-width: 50px;
    min-height: 50px;
    border: hsl(var(--clr-dark)) 2px solid;
    padding: var(--size-s);
    text-align: center;
    
}


.dice--animated {
  animation: bounce 0.8s infinite; 
}

.result--animated {
    animation: bounceIn 0.8s infinite; 
}

@keyframes bounce {
    20% {transform: scale(0.8);}
    50% {transform: rotate(-20deg) scale(0.8);}
    60% {transform: rotate(20deg) scale(0.8);}
    70% {transform: rotate(-20deg) scale(0.8);}
    80% {transform: rotate(0deg) scale(0.8);}  
}

@keyframes bounceIn {
  50%{opacity: 0%;}
}


/*
* === MEDIA QUERIES ===
*/

@media (min-width: 700px) {

    .flex--desk {display: flex;}
    .flex--col--desk {display: flex; flex-direction: column;}
    .flex--wrap--desk {flex-wrap: wrap;}

    .flex--desk > * + * { margin-block-start: 0;}

    .justify--start--desk {justify-content: start;}
    .justify--center--desk {justify-content: center;}
    .justify--end--desk  {justify-content: end;}
    .justify--space-between--desk {justify-content: space-between;}

    .items--start--desk {align-items: start;}
    .items--center--desk {align-items: center;}
    .items--end--desk {align-items: end;}
    
    .gap--s--desk {gap: var(--size-s);}

   
   .card {
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }
}

