
/*---------------General------------*/

* {
box-sizing: border-box;
margin: 0;
}


body {
    line-height: 1.5;
    color: #2d2e33;
    background-color: #f2f1f1;
    font-family: "Fira Mono", serif;
    font-size: 1rem;


}

header, main {
    padding: 24px;
    max-width: 800px;
    margin: auto;
}

p {
    line-height: 1.4rem;
}


/*---------------LOGO*------------*/

.logo {
    font-family: "Fira Mono", serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    text-decoration: none;
    color: #4066d9;
}

.logo:hover {
    color: #2b49a3;
}


/*---------------Headings------------*/

h2 {
    font-size: 1.25rem;
    color: #4C4F68;
}

h3 {
    font-size: 1rem;
    color: #657194;
    padding-bottom: 8px;

}



.divider {
    padding: 4px 0;
    margin: 16px 0;
    border-bottom: dotted #4C4F68 2px;
}



/*---------------Links------------*/


.page-link {
    display:inline-block;
    height: 44px;
    padding: 10px 8px 0 8px;
    color: #2d2e33;
    text-decoration: #2d2e33 solid underline 2px;
    text-underline-offset: 8px;
    font-size: 1rem;
    line-height: 1.5rem;
    
}


.page-link:hover,
.page-link:focus,
.page-link:active {
    text-decoration: #4066d9 wavy underline 2px;
    text-underline-offset: 8px;
}

/*---------------Buttons------------*/

.primary {
    height: 44px;
    font-family: "Fira Mono", serif;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #2d2e33;
    padding: 0 8px;
    text-align: center;
    background-color: #f2f1f1;
    border: #4066d9 solid 2px;
}

.primary:hover,
.primary:focus,
.primary:active {
    background-color: #4066d9;
    color: #f2f1f1;
}



/*----------------------------------*/
/*---------------Pages--------------*/
/*----------------------------------*/

/*---------------Homepage------------*/

.homepage-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 8px;

}

/*---------------Archive------------*/

.type {
    margin-bottom: 1rem;
}


/*---------------Calculator------------*/


.quant-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 24px;
    padding: 16px 0;
}

.quant-item {
    flex: 1;
    min-width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;

}


.quant-content, .quant-label {
    flex: 1;
    width: 100%;
    padding: 12px 20px;

}

.quant-content {
    height: 50px;
}

.quant-x {
    text-align: center;
    padding: 12px 20px;
    border: #4066d9 2px dashed;

}
.quant-label {
    max-width: 24px;
    text-align: center;
    padding: 4px;

}


input {
    background-color: #f2f1f1;
    border: #4C4F68 2px solid;
}



/*---------------Design Sheet------------*/
.link-vs-button {
   
    
}