/* ------------------- */
/* Costum properties   */
/* ------------------- */

:root {
    /*colors*/
    --clr-primary: 43, 74.4%, 49%;
    --clr-dark: 43, 89%, 15%;
    --clr-light: 40, 100%, 97.1%;

    /*font-size*/
    --fs-700: 2rem;
    --fs-600: 1.25rem;
    --fs-500: 1rem;
    --fs-400: 0.875rem;
    
    
    /*font-family*/
    --ff-main: "Fira Code", serif;
  }


/* ------------------- */
/* Reset               */
/* ------------------- */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    }

/* Reset margins */

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0;
}

/* set up the body */
body {
    line-height: 1.5;
    min-height: 100vh;
}

/* make images easier to work with */
img,
picutre {
    max-width: 100%;
    display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
    font: inherit;
}


/* ------------------- */
/* Utility Class       */
/* ------------------- */

/*Colors*/

.bg-primary {background-color: hsl(var(--clr-primary));}
.bg-dark {background-color: hsl(var(--clr-dark));}
.bg-light {background-color: hsl(var(--clr-light));}

.txt-primary {color: hsl(var(--clr-primary));}
.txt-dark {color: hsl(var(--clr-dark));}
.txt-light {color: hsl(var(--clr-light));}


/*Typography*/

.txt-center {
    text-align: center;
}

.fs-700 {font-size: var(--fs-700);}
.fs-600 {font-size: var(--fs-600);}
.fs-500 {font-size: var(--fs-500);}
.fs-400 {font-size: var(--fs-400);}


/*Spacing*/

.stack-xl > *:not(:last-child) {
    margin-bottom: 2rem;
}

.stack-l > *:not(:last-child) {
    margin-bottom: 1.5rem;
}

.stack-m> *:not(:last-child) {
    margin-bottom: 1rem;
}

.stack-s > *:not(:last-child) {
    margin-bottom: 0.5rem;
}

.gap-xl {
    gap: 2rem;
}

.gap-l {
    gap: 1.5rem;
}

.gap-m {
    gap: 1rem;
}

.gap-s {
    gap: 0.5rem;
}



/*Layout*/

.flex {
    display: flex;
    /* gap: var(--gap, 1rem); */
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-a-center {
    align-items: center;
}

.flex-j-center {
    justify-content: center;
}

.flex-grow {
    flex-grow: 2;
}

.flex-up-2 {
    min-width: 350px;
    flex: 1;
}

.full-width {
    width: 100%;
}



.container-border {
    padding: 8px;
    border: hsl(var(--clr-primary)) 2px dashed;
    width: 100%;
    align-content: center;
}


.sr-only {
    position: absolute; 
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px; 
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;
  }

/* ------------------- */
/* General             */
/* ------------------- */

/*layout*/ 

body {
    font-family: var(--ff-main);
    color: hsl(var(--clr-dark));

    background-color: hsl(var(--clr-light));
    background-size: 32px 32px;

    background-image: radial-gradient(circle, hsl(var(--clr-dark), 0.2) 1px, rgba(0, 0, 0, 0) 1px);

    /* background-image:
        linear-gradient(to right, hsl(var(--clr-dark), 0.1) 0.5px, transparent 0.5px)
        linear-gradient(to bottom, hsl(var(--clr-dark), 0.1) 0.5px, transparent 0.5px); */
}

    

header, main {
    padding: 1.5rem;
    max-width: 50rem;
    margin: auto;
}

/*typograpy*/

h1 {
    font-size: var(--fs-700);
    font-weight: 700;
    line-height: 22px;
}

h2 {
    font-size: var(--fs-600);
    font-weight: 400;
    
}

.h2-divider {
    padding: 4px 0;
    border-bottom: dashed 2px hsl(var(--clr-dark), 0.5);
}

h3 {
    font-size: var(--fs-400);
    text-transform: uppercase;
    font-weight: 500;
    color: hsl(var(--clr-dark), 0.8);
}

ul {
    list-style-type: "- ";
}

/*logo*/

.logo {
    text-align: center;
    text-decoration: none;
    color: hsl(var(--clr-primary));
}

.logo:hover {
    color: hsl(var(--clr-dark), 0.8);
}


/*Interactive Elements*/

.costum-link {
    display:inline-block;
    min-height: 44px;
    padding-inline: 8px;
    color: hsl(var(--clr-dark));
    text-decoration: hsl(var(--clr-dark)) solid underline 2px;
    text-underline-offset: 8px;
}

.costum-link:hover {
    text-decoration: hsl(var(--clr-primary)) wavy underline 2px;
    text-underline-offset: 8px;
}

.costum-link:focus {
    text-decoration: hsl(var(--clr-primary)) wavy underline 2px;
    text-underline-offset: 8px;
    outline: 2px solid hsl(var(--clr-dark));
    outline-offset: 4px;
}

.btt-primary {
    min-height: 44px;
    padding-inline: 8px;
    color: hsl(var(--clr-dark));
    text-align: center;
    background-color: hsl(var(--clr-primary));
    border: 2px solid hsl(var(--clr-primary));
}

.btt-primary:hover,
.btt-primary:focus {
    outline: 2px solid hsl(var(--clr-dark));
    outline-offset: 4px;
    cursor: pointer;
}


.btt-secondary {
    min-height: 44px;
    padding-inline: 8px;
    color: hsl(var(--clr-dark));
    text-align: center;
    background-color: hsl(var(--clr-light));
    border: 2px solid hsl(var(--clr-primary));
}

.btt-secondary:hover,
.btt-secondary:focus,
select:hover,
select:focus {
    outline: 2px solid hsl(var(--clr-dark));
    outline-offset: 4px;
    cursor: pointer;
}


input,
select {
    min-height: 44px;
    padding-inline: 8px;
    border: hsl(var(--clr-dark)) solid 1px;
    background-color: #FFF;
}

input:hover,
input:focus {
    outline: 2px solid hsl(var(--clr-dark));
    outline-offset: 4px;
}

option {
    font-family: monospace;
    font-size: 16px;
}



/*----------------------------------*/
/*---------------Pages--------------*/
/*----------------------------------*/



/*---------------Calculator------------*/

.quant-container {
    display: flex;
    align-content: center;
}

.quant-align {
    display: flex;
    align-items: center;
    justify-content: center;
}

.quant-sign {
    max-width: 24px;
    padding: 4px;
}

/*--------------prompts------------*/

.prompt {
    padding-top: 24px;
    padding-bottom: 24px;
}
