* {
box-sizing: border-box;
margin: 0;
}


body {
    line-height: 1.5;
    color: #E9E9E9;
    background-color:#181818;
    font-family: monospace;
    font-size: 1rem;
    

}

header, main {
    padding: 24px;
    max-width: 800px;
    margin: auto;
}





/*LOGO*/

.logo {
    font-family: lexend;
    font-size: 20px;
    line-height: 16px;
    text-align: center;
    text-decoration: none;
    color: #E9E9E9;
}


/*BUTTON*/

.link-container {
    margin-bottom: 1.5rem;
    text-align: center;
}


.page-link {
    background-color: hsla(0, 0%, 24%, 0.345);
    padding: 1rem;
    display:inline-block;
    width:100%;
    height:100%;
    text-decoration: none;
    color: #c2c2c2;
}

.page-link:hover {
    background-color: hsla(0, 1%, 36%, 0.345);
}


/*Archive*/

.divider {
    padding: 4px 0;
    margin: 1.5rem 0;
    border-bottom: dashed #353535 1px;
    color: #353535;
}

.type {
    margin-bottom: 1rem;
}

h3 {
    margin-bottom: 0.5rem;
    color: #acacac;
}

form {

}

input {
    height: 40px;
}

